
@{
    ViewBag.Title = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authorize</h2>

<div class="form-horizontal well">
    <div class="form-group">
        <input type="text" placeholder="Email" name="Email" value="Email" class="form-control" />
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" name="Password" value="Password" class="form-control" />
    </div>
    <div class="form-group">
        <input type="password" placeholder="CofirmPassword" name="ConfirmPassword" value="CofirmPassword" class="form-control" />
    </div>
    <input type="button" name="OK" class="btn btn-info" value="OK" />
</div>

<div id="holder">

</div>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('input[name="OK"]').click(function () {
                $.ajax({
                    method: "POST",
                    url: "/token",
                    contentType: "application/json",
                    data: {
                        username: $('input[name="Email"]').val(),
                        password: $('input[name="Password"]').val(),
                        grant_type: 'password'
                    },
                    success: function (res) {
                        $("#holder").append(res.access_token);
                    },
                    error: function(xhr, error, message)
                    {
                        displayMessage("Error", message);
                    }
                });
            });
        });
</script>
}
