
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div style="display: table;margin: auto;border: 1px solid green; border-radius: 5px; padding: 10px;">
        <div class="form-horizontal" style="padding: 20px;">
            <div class="form-group">
                <input name="email" class="form-control" placeholder="E-mail" type="email" />
            </div>
            <input type="submit" style="margin: auto" name="change_password" class="btn btn-success btn-block" value="Надіслати лист" />
            <div class="form-group" style="margin-top: 10px;">
                <div class="col-xs-8 col-sm-8 col-lg-8 col-md-8 col-md-offset-2 col-lg-offset-2 text-center">
                    @Html.ActionLink("Вхід на сайт", "Index", "Service")
                </div>
            </div>
        </div>
    </div>
}