
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_StartView.cshtml";
}

<link rel="stylesheet" href="~/Content/changePassword.css" />

<div class="row mainBlock">
    <div class="col-sm-4 col-sm-offset-4 mainBlock__body">
        <div class="mainForm">
            <form class="form-horizontal mainForm__body" id="change_form" data-toggle="validator">
                <div class="form-group">
                    <input name="email" data-error="Неправильний формат пошти" required class="form-control" placeholder="E-mail" type="email" />
                    <div class="help-block with-errors"></div>
                </div>
                <input type="submit" name="change_password" class="btn btn-success btn-block" value="Надіслати лист" />
                @Html.ActionLink("Вхід на сайт", "Index", "Service", new { @class = "btn btn-default btn-block", style = "margin: auto; margin-top:10px;" })
            </form>
        </div>
    </div>
</div>

<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-push-5">
                        <img src="~/Common/ajax-loader.gif" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#change_form").validator().submit(function (e) {
                if (!e.isDefaultPrevented()) {
                    e.preventDefault();
                    $("#loadingModal").modal("show");
                    $.ajax({
                        method: "GET",
                        url: "/api/Account/ChangeUserPassword?email=" + $('input[name="email"]').val(),
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            $("#loadingModal").modal("hide");
                            window.displayMessage("Success", "Letter was successfully sent");
                            setTimeout(function () { window.location.href = '/Service/Index'; }, 2000);
                        },
                        error: function (res) {
                            $("#loadingModal").modal("hide");
                            window.displayMessage("Error", "Some error");
                        }
                    });
                }
            });
        });
    </script>
}
