
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_StartView.cshtml";
}

<div class="row text-center" style="font-family:Arial;">
    <h3>Реєстрація</h3>
    <p>Заповніть всі обов'язкові форми</p>
</div>
<div class="row" style="margin-top: 25px; margin-bottom:15px;">
    <div class="col-sm-4 col-sm-offset-4" style="background-color:lightgray">
        <div style="display: table;margin: auto; padding: 10px;">
            <div class="form-horizontal" style="padding: 20px;">
                <div class="form-group">
                    <input name="last_name" class="form-control" placeholder="*Прізвище" type="text" />
                    <label for="last_name" class="text-danger" id="last_name_label" hidden></label>
                </div>
                <div class="form-group">
                    <input name="first_name" class="form-control" placeholder="*Ім'я" type="text" />
                    <label for="first_name" class="text-danger" id="first_name_label" hidden></label>
                </div>
                <div class="form-group">
                    <input name="father_name" class="form-control" placeholder="По-батькові" type="text" />
                </div>
                <div class="form-group">
                    <input name="email" class="form-control" placeholder="*E-mail" type="email" />
                    <label for="email" class="text-danger" id="email_label" hidden></label>
                </div>
                <div class="form-group">
                    <input name="organisation" class="form-control" placeholder="*Назва організації" type="text" />
                    <label for="organisation" class="text-danger" id="organisation_label" hidden></label>
                </div>
                <div class="form-group">
                    <input name="password" class="form-control" placeholder="*Пароль" type="password" />
                    <label for="password" class="text-danger" id="password_label" hidden></label>
                </div>
                <div class="form-group">
                    <input name="confirm_password" class="form-control" placeholder="*Повторення паролю" type="password" />
                    <label for="confirm_password" class="text-danger" id="confirm_password_label" hidden></label>
                </div>
                <input type="button" name="register" style="margin: auto" class="btn btn-success btn-block" value="Зареєструватися" />
                        @Html.ActionLink("Вхід на сайт", "Index", "Service", new { style = "margin:auto; margin-top: 10px;", @class = "btn btn-default btn-block" })
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script type="text/javascript">
        $(document).ready(function () {

            $('input[name="email"]').focus(function () {
                $(this).parent().removeClass("has-error");
                if (!$("#email_label").is(":hidden")) {
                    $("#email_label").val("");
                    $("#email_label").attr('hidden', true);
                }
            });

            $('input[name="email"]').blur(function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#email_label").removeAttr("hidden");
                    $("#email_label").text("Введіть e-mail");
                }
                else {
                    $(this).parent().removeClass("has-error");
                    if (!$("#email_label").is(":hidden")) {
                        $("#email_label").val("");
                        $("#email_label").attr('hidden', true);
                    }
                }
            });

            $('input[name="first_name"]').focus(function () {
                $(this).parent().removeClass("has-error");
                if (!$("#_label").is(":hidden")) {
                    $("#first_name_label").val("");
                    $("#first_name_label").attr('hidden', true);
                }
            });

            $('input[name="first_name"]').blur(function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#first_name_label").removeAttr("hidden");
                    $("#first_name_label").text("Введіть ім'я користувача");
                }
                else {
                    $(this).parent().removeClass("has-error");
                    if (!$("#first_name_label").is(":hidden")) {
                        $("#first_name_label").val("");
                        $("#first_name_label").attr('hidden', true);
                    }
                }
            });

            $('input[name="last_name"]').focus(function () {
                $(this).parent().removeClass("has-error");
                if (!$("#last_name_label").is(":hidden")) {
                    $("#last_name_label").val("");
                    $("#last_name_label").attr('hidden', true);
                }
            });

            $('input[name="last_name"]').blur(function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#last_name_label").removeAttr("hidden");
                    $("#last_name_label").text("Введіть прізвище користувача");
                }
                else {
                    $(this).parent().removeClass("has-error");
                    if (!$("#last_name_label").is(":hidden")) {
                        $("#last_name_label").val("");
                        $("#last_name_label").attr('hidden', true);
                    }
                }
            });

            $('input[name="organisation"]').focus(function () {
                $(this).parent().removeClass("has-error");
                if (!$("#organisation_label").is(":hidden")) {
                    $("#organisation_label").val("");
                    $("#organisation_label").attr('hidden', true);
                }
            });

            $('input[name="organisation"]').blur(function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#organisation_label").removeAttr("hidden");
                    $("#organisation_label").text("Введіть організацію");
                }
                else {
                    $(this).parent().removeClass("has-error");
                    if (!$("#organisation_label").is(":hidden")) {
                        $("#organisation_label").val("");
                        $("#organisation_label").attr('hidden', true);
                    }
                }
            });

            $('input[name="password"]').focus(function () {
                $(this).parent().removeClass("has-error");
                if (!$("#password_label").is(":hidden")) {
                    $("#password_label").val("");
                    $("#password_label").attr('hidden', true);
                }
            });

            $('input[name="password"]').blur(function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#password_label").removeAttr("hidden");
                    $("#password_label").text("Введіть пароль");
                }
                else {
                    $(this).parent().removeClass("has-error");
                    if (!$("#password_label").is(":hidden")) {
                        $("#password_label").val("");
                        $("#password_label").attr('hidden', true);
                    }
                }
            });

            $('input[name="confirm_password"]').focus(function () {
                $(this).parent().removeClass("has-error");
                if (!$("#confirm_password_label").is(":hidden")) {
                    $("#confirm_password_label").val("");
                    $("#confirm_password_label").attr('hidden', true);
                }
            });

            $('input[name="confirm_password"]').blur(function () {
                if ($(this).val() == "") {
                    $(this).parent().addClass("has-error");
                    $("#confirm_password_label").removeAttr("hidden");
                    $("#confirm_password_label").text("Введіть пароль повторно");
                }
                else if ($(this).val() != $('input[name="password"]').val()) {
                    $(this).parent().addClass("has-error");
                    $("#confirm_password_label").removeAttr("hidden");
                    $("#confirm_password_label").text("Паролі не співпадають");
                }
                else {
                    $(this).parent().removeClass("has-error");
                    if (!$("#confirm_password_label").is(":hidden")) {
                        $("#confirm_password_label").val("");
                        $("#confirm_password_label").attr('hidden', true);
                    }
                }
            });

            $('input[name="register"]').click(function () {

                $.ajax({
                    method: "POST",
                    url: "/api/Account/Register",
                    data: {
                        FirstName: $('input[name="first_name"]').val(),
                        LastName: $('input[name="last_name"]').val(),
                        FatherName: $('input[name="father_name"]').val(),
                        Organisation: $('input[name="organisation"]').val(),
                        Email: $('input[name="email"]').val(),
                        Password:$('input[name="password"]').val(),
                        ConfirmPassword: $('input[name = "confirm_password"]').val(),
                    },
                    success: function (res) {
                        window.location.href = "@Url.Action("Index", "Service", new { message = "Success|Реєстрація пройшла успішно. Лист з підтвердженням надіслано на вказану пошту"})";
                                           },
                    error: function(res)
                    {
        var data = JSON.parse(res.responseText);

        if (data.ModelState) {
            var errors = data.ModelState.error;

            var toProcess = JSON.stringify(errors);

            toProcess = toProcess.substring(toProcess.lastIndexOf('[') + 1, toProcess.lastIndexOf(']'));

            var array = toProcess.split(',');

            for (var i = 0; i < array.length; ++i) {
                var toShow = array[i].substring(1, array[i].length - 1);
                displayMessage("Error", toShow);
            }
        }
        else {
            displayMessage("Error", JSON.parse(res.responseText).Message);
        }
    }
});
            });




        });
    </script>
    }