<div class="form-group">
    <textarea name="details_description" class="form-control" style="margin: auto;"
               placeholder="Деталі заявки" rows="10" cols="40">
    </textarea>
</div>
<input type="submit" value="Оформити заявку" class="btn btn-info btn-block" style="margin: auto;" name="submit_application" />
