<div class="text-center">
    <input type="hidden" value="Session" name="applicationType" />
    <label for="application_day">Вкажіть день:</label>
    <div class="form-group">
        <input type="date" name="service_day" style="margin:auto;" id="service_day" class="form-control" />
        <label for="service_day" class="text-danger control-label" hidden id="service_day_validation"></label>
    </div>
    <label for="application_day">Вкажіть час початку:</label>
    <div class="form-group">
        <input type="time" name="start_time" id="start_time" style="margin: auto;" class="form-control" />
        <label for="start_time" class="text-danger control-label" hidden id="start_time_validation"></label>
    </div>
</div>