
@{
    ViewBag.Title = "ConsultantSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/consultantSearch.css" />

<div class="row mainBlock">
    <div class="col-xs-10 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="form-horizontal well mainForm">
                    <div class="form-group">
                        <input name="name" placeholder="Ім'я користувача" class="form-control mainForm__field" />
                    </div>
                    <div class="form-group">
                        <input name="organisation" placeholder="Організація" class="form-control mainForm__field" />
                    </div>
                    <input class="btn btn-success btn-block mainForm__field" id="searchButton" value="Шукати" />
                    <input class="btn btn-success btn-block mainForm__field-invitation" id="enter_email" data-toggle="modal" data-target="#email_invitation" value="E-mail запрошення" />
                </div>
            </div>
            <div class="col-xs-8 col-sm-7 dataBlock" id="servicesData">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="email_invitation" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="text-center">Введіть e-mail для надсилання запрошення</h2>
            </div>
            <div class="modal-body">
                <input type="text" name="invitation_email" class="form-control" placeholder="E-mail" style="margin: auto;" />
            </div>
            <div class="modal-footer">
                <button type="button" id="email_insert_done" data-dismiss="modal" class="btn btn-success">Підтвердити</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Скасувати</button>
            </div>
        </div>
    </div>
</div>

<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-push-5">
                        <img src="~/Common/ajax-loader.gif" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script src="~/Scripts/Helper/ConsultantSearchHelper.js"></script>
    <script type="text/javascript">

        var helper = new ConsultantSearchHelper('@ViewData["ServiceId"].ToString()');

        $(document).ready(function () {

            $("#email_insert_done").click(function () {
                helper.addMailConsultant();
            });

            $(document).on('click', 'input[name^="invite"]', function () {
                helper.inviteConsultant($(this).attr("name").split('_')[1]);
            });


            $(document).scroll(function () {
                if ($(document).height() - ($(window).height() + $(window).scrollTop()) < 50) {
                    helper.loadNextChunk();
                }
            });

            $("#searchButton").click(function () {
                helper.makeNewSearch();
            });
        });

        $(window).load(function () {
            $("#searchButton").click();
        });
    </script>
}