
@{
    ViewBag.Title = "MailConfirmSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your email was successfully confirmed</h2>

@Html.ActionLink("Увійти на сайт", "Index", "Service", null, new { @class = "btn btn-info" })

