
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_StartView.cshtml";
}

<link rel="stylesheet" href="~/Content/register.css" />

<div class="row text-center helper">
    <div class="col-sm-6 col-sm-push-3">
        <h3>Реєстрація</h3>
        <p>Заповніть всі обов'язкові форми</p>
        <p><b>Підказка:</b> Пароль повинен містити одну велику літеру латинського алфавіту, одну малу літеру латинського алфавіту, одну цифру і один непрописний знак. Мінімальна довжина паролю - 8 цифр</p>
        <p><b>Приклад паролю: </b> Aa-12345</p> 
    </div>
</div>
<div class="row mainBlock">
    <div class="col-sm-4 col-sm-offset-4 mainBlock__body">
        <div class="registerForm">
            <form class="form-horizontal registerForm__body" id="register_form" data-toggle="validator">
                <div class="form-group">
                    <input name="last_name" class="form-control" placeholder="*Прізвище" required type="text" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input name="first_name" class="form-control" placeholder="*Ім'я" required type="text" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input name="father_name" class="form-control" placeholder="По-батькові" type="text" />
                </div>
                <div class="form-group">
                    <input name="email" class="form-control" placeholder="*E-mail" data-error="Неправильний формат пошти" required type="email" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input name="organisation" class="form-control" placeholder="*Назва організації" required type="text" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input name="password" id="password" class="form-control" data-minlength="8" placeholder="*Пароль" required type="password" />
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <input name="confirm_password" class="form-control" data-minlength="8" placeholder="*Повторення паролю" data-match="#password" required type="password" />
                    <div class="help-block with-errors"></div>
                </div>
                <input type="submit" name="register" class="btn btn-success btn-block" value="Зареєструватися" />
                @Html.ActionLink("Вхід на сайт", "Index", "Service", new { style = "margin:auto; margin-top: 10px;", @class = "btn btn-default btn-block" })
            </form>
        </div>
    </div>
</div>

<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-push-5">
                        <img src="~/Common/ajax-loader.gif" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#register_form").validator().submit(function (e) {
                if (!e.isDefaultPrevented()) {
                    e.preventDefault();
                    $("#loadingModal").modal("show");
                    $.ajax({
                        method: "POST",
                        url: "/api/Account/Register",
                        data: {
                            FirstName: $('input[name="first_name"]').val(),
                            LastName: $('input[name="last_name"]').val(),
                            FatherName: $('input[name="father_name"]').val(),
                            Organisation: $('input[name="organisation"]').val(),
                            Email: $('input[name="email"]').val(),
                            Password: $('input[name="password"]').val(),
                            ConfirmPassword: $('input[name = "confirm_password"]').val(),
                        },
                        success: function (res) {
                            $("#loadingModal").modal("hide");
                            window.displayMessage("Success", "Реєстрація пройшла успішно. Лист з підтвердженням надіслано на вказану пошту");
                            setTimeout(function () { window.location = '/Service/Index'; }, 2000);
                        },
                        error: function (res) {
                            $("#loadingModal").modal("hide");
                            var data = JSON.parse(res.responseText);

                            if (data.ModelState) {
                                var errors = data.ModelState.error;

                                var toProcess = JSON.stringify(errors);

                                toProcess = toProcess.substring(toProcess.lastIndexOf('[') + 1, toProcess.lastIndexOf(']'));

                                var array = toProcess.split(',');

                                for (var i = 0; i < array.length; ++i) {
                                    var toShow = array[i].substring(1, array[i].length - 1);
                                    displayMessage("Error", toShow);
                                }
                            }
                            else {
                                displayMessage("Error", JSON.parse(res.responseText).Message);
                            }
                        }
                    });
                }
            });
        });
    </script>
}