
@{
    ViewBag.Title = "ServiceCharts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/serviceCharts.css" />

<div class="row mainBlock" ng-app="FeedbackApp">
    <div class="col-xs-8 col-sm-6 col-sm-offset-3" ng-controller="FeedbackController">
        <div class="row well">
            <div class="col-xs-6">
                <input type="text" placeholder="Рік" ng-model="year" name="year" class="form-control" />
                <input type="hidden" id="service_id_data" value="@ViewData["service_id"].ToString()" />
                <input type="hidden" id="consultant_model" />
            </div>
            <div class="col-xs-6">
                <select name="month" ng-model="month" class="form-control mainBlock__month">
                    <option value="1">Січень</option>
                    <option value="2">Лютий</option>
                    <option value="3">Березень</option>
                    <option value="4">Квітень</option>
                    <option value="5">Травень</option>
                    <option value="6">Червень</option>
                    <option value="7">Липень</option>
                    <option value="8">Серпень</option>
                    <option value="9">Вересень</option>
                    <option value="10">Жовтень</option>
                    <option value="11">Листопад</option>
                    <option value="12">Грудень</option>
                </select>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <button type="button" id="find_service_data" class="btn btn-block btn-success">Показати</button>
            </div>
        </div>
        <div class="row well mainBlock__dataContainer" id="service_container" hidden>
        </div>
        <div class="row well mainBlock__dataContainer" id="consultant_container" hidden>
        </div>
        <div class="row mainBlock__dataContainer">
            <div class="col-sm-6 col-sm-offset-3">
                <div id="feedback_toggle" hidden>
                    <button type="button" ng-click="showFeedbacks()" class="btn btn-success btn-block mainBlock__button">
                        Показати відгуки
                    </button>
                </div>
            </div>
        </div>
        <div class="row well feedbackContainer" hidden id="feedback_container">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th ng-click="setOrder('Date')">
                                Дата
                                <span class="glyphicon" ng-class="getGlyph('Date')"></span>
                            </th>
                            <th ng-click="setOrder('Mark')">
                                Оцінка
                                <span class="glyphicon" ng-class="getGlyph('Mark')"></span>
                            </th>
                            <th ng-click="setOrder('Comment')">
                                Коментар
                                <span class="glyphicon" ng-class="getGlyph('Comment')"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="feedback in (filteredFeedbacks = (feedbacks| orderBy:orderItem:isReverse) | limitTo:displayItems:startIndex)">
                            <td>
                                {{feedback.Date}}
                            </td>
                            <td>
                                {{feedback.Mark}}
                            </td>
                            <td>
                                {{feedback.Comment}}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input type="submit" class="btn btn-default btn-sm" value="Prev" ng-click="calculateOffset('Prev')" />
                            </td>
                            <td>
                                <input type="submit" class="btn btn-default btn-sm" value="Next" ng-click="calculateOffset('Next')" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="~/Scripts/module_script.js"></script>
    `
    <script src="~/Scripts/Helper/ServiceChartsHelper.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js">
    </script>

    <script type="text/javascript">

        var helper = new ServiceChartsHelper(@ViewData["service_id"].ToString());

        $(document).on("click", "#find_consultant_stats", function () {
            helper.getConsultantApplications();
        });

        $(document).ready(function () {

            $("#find_service_data").click(function () {

                if (helper.isWrongInput()) {
                    displayMessage("Error", "Неправильні дані")
                }
                else {
                    helper.clearState();

                    helper.getMonthApplications();
                }
            });
        });

    </script>

}