
@{
    ViewBag.Title = "NewPasswordView";
    Layout = "~/Views/Shared/_StartView.cshtml";
}

<link rel="stylesheet" href="~/Content/setNewPassword.css" />

<div class="row text-center helper">
    <div class="col-sm-6 col-sm-push-3">
        <p><b>Підказка:</b> Пароль повинен  містити одну велику літеру латинського алфавіту, одну малу літеру латинського алфавіту, одну цифру і один непрописний знак. Мінімальна довжина паролю - 8 цифр</p>
        <p><b>Приклад паролю: </b> Aa-12345</p>
    </div>
</div>

<div class="row mainBlock">
    <div class="col-sm-4 col-sm-offset-4 mainBlock__body">
        <form method="post" action="/Service/SetNewPassword?request_id=@(ViewData["request_id"].ToString())" data-toggle="validator" id="new_password_form">
            <div class="mainForm">
                <div class="form-horizontal mainForm__body">
                    <div class="form-group">
                        <input name="password" id="password" class="form-control" data-minlength="8" placeholder="Пароль" type="password" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input name="confirm_password" class="form-control" data-minlength="8" data-match="#password" placeholder="Повторіть пароль" type="password" required />
                        <div class="help-block with-errors"></div>
                    </div>
                    <input type="submit" style="margin: auto" name="change_password" class="btn btn-success btn-block" value="Змінити" />
                </div>
            </div>
        </form>
    </div>
</div>

<div id="loadingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-2 col-sm-push-5">
                        <img src="~/Common/ajax-loader.gif" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#new_password_form").validator().submit(function (e) {
                if (!e.isDefaultPrevented()) {
                    e.preventDefault();
                    $("#loadingModal").modal("show");
                    var data = {
                        m_Item1: '@ViewData["request_id"]',
                        m_Item2: $('input[name="password"]').val(),
                        m_Item3: $('input[name="confirm_password"]').val()
                    };

                    $.ajax({
                        method: "POST",
                        url: "/api/Account/SetNewUserPassword",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(data),
                        success: function (res) {
                            $("#loadingModal").modal("hide");
                            displayMessage("Success", "Password successfully reset");
                            setTimeout(function () { window.location.href = '/Service/Index'; }, 2000);
                        },
                        error: function (res) {
                            $("#loadingModal").modal("hide");
                            if (res.status == 500) {
                                displayMessage("Error", "Your request has timed out. Please send another one and try again");
                            }
                            else if (res.status == 400) {
                                displayMessage("Error", "Wrong password format");
                            }
                            else {
                                displayMessage("Error", res.statusText);
                            }
                        }
                    });
                }
            });
        });
    </script>
}
