.mainBlock{
    margin-top: 25px; 
    margin-bottom:15px;
}

.mainBlock__body{
    background-color:lightgray;
}

.mainForm{
    display: table;
    margin: auto;
    padding: 10px;
}

.mainForm__body{
    padding: 20px;
}

input[name="change_password"]{
    margin-top: 10px;
}
