.mainBlock{
    margin-top: 10px;
}

.mainBlock__month{
    margin-bottom: 10px;
}

.mainBlock__dataContainer{
    margin-top:15px;
}

.mainBlock__button{
    margin-bottom: 10px;
}

.feedbackContainer{
    margin-top:10px;
}

.serviceChart{
    margin-top: 10px;
}

.serviceChart__data{
    margin-top: 15px;
}

.serviceChart__data-btn{
    margin: auto;
}